<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="/stylesheets/js/jquery-1.11.0.js"></script>
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/css/plugins/timeline.css">
    <link rel="stylesheet" href="/stylesheets/css/sb-admin-2.css">
    <link rel="stylesheet" href="/stylesheets/css/plugins/morris.css">
    <link rel="stylesheet" href="/stylesheets/css/font-awesome-4.3.0/css/font-awesome.min.css">
    <script src="/stylesheets/js/bootstrap.min.js"></script>
    <script src="/stylesheets/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/stylesheets/js/page/myPage.js"></script>
    <script type="text/javascript" src="/stylesheets/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/stylesheets/js/jquery.fileupload.js"></script>
</head>
<body>
	<div class="row">
		<div class="col-sm-12">
			<h1 class="page-header">添加或修改</h1>
		</div>
	</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">请填写以下选项：</div>
				<div class="panel-body">
					<div class="col" >
                        <form id="addUserInfoform" class="form-horizontal" action="#" th:action="@{/listrule/saveorupdate}" th:object="${bean}" th:method="post">
						<input class="form-control" id="id" name="id" type="hidden" th:field="*{id}" value="" th:value="${bean.get('id')}" />
						<input class="form-control" id="objectId" name="objectId" type="hidden" th:field="*{objectId}" value="" th:value="${bean.objectId}" />
								 <div class="form-group">
									<label for="input01" class="control-label col-sm-2">规则名称：</label>
									<div class="controls col-sm-4">
										<input type="text" name="rulename" th:field="*{rulename}" id="rulename" class="form-control" value="" th:value="${bean.get('rulename')}" required />
									</div>
									<div class="controls col-sm-6">
									</div>
								</div>
								<div class="form-group">
									<label for="input01" class="control-label col-sm-2">节点id：</label>
									<div class="controls col-sm-4">
                                        <select id="nodeid" name="nodeid" th:field="*{nodeid}" class="form-control">
                                            <option value="0">请选择</option>
                                            <option th:each="node:${nodeList}" th:selected="(${bean.nodeid == node.id})" th:value="${node.id}" th:text="${node.nodename}"></option>
                                        </select>
									</div>
									<div class="controls col-sm-6">
									</div>
								</div>
								<div class="form-group">
									<label for="input01" class="control-label col-sm-2">国家：</label>
									<div class="controls col-sm-4">
										<select id="countryCode" name="countryCode" th:field="*{countryCode}" class="form-control" >
                                            <option value="0">请选择</option>
                                            <option th:each="country:${hbCountrys}" th:selected="(${country.countryCode == bean.countryCode})" th:value="${country.countryCode}" th:text="${country.cnname}"></option>
										</select>
									</div>
									<div class="controls col-sm-6">
									</div>
								</div>
								<div class="form-group">
									<label for="input01" class="control-label col-sm-2">媒体：</label>
									<div class="controls col-sm-4">
										<select id="pid" name="pid" th:field="*{pid}" class="form-control" >
                                            <option value="0">请选择</option>
                                            <option th:each="publication:${publications}" th:selected="(${publication.id==bean.pid})" th:value="${publication.id}" th:text="${publication.name}"></option>
										</select>
									</div>
									<div class="controls col-sm-6">
									</div>
								</div>
								
								<div class="form-group">
									<label for="input01" class="control-label col-sm-2">渠道id：</label>
									<div class="controls col-sm-4">
										<select id="channelid" name="channelid" th:field="*{channelid}" class="form-control" >
                                            <option value="0">请选择</option>
                 <option th:each="channel:${conChannels}" th:selected="(${channel.id == bean.channelid})" th:value="${channel.id}" th:text="${channel.channelname}"></option>
										</select>
									</div>
									<div class="controls col-sm-6">
									</div>
								</div>
								<div class="form-group">
									<label for="input01" class="control-label col-sm-2">csspath：</label>
									<div class="controls col-sm-4">
										<input type="text" name="csspath" th:field="*{csspath}"  id="csspath" class="form-control" value="" th:value="${bean.get('csspath')}" required />
									</div>
									<div class="controls col-sm-6">
									</div>
								</div>
								<div class="form-group">
									<label for="input01" class="control-label col-sm-2">url：</label>
									<div class="controls col-sm-4">
										<input type="text" name="url" th:field="*{url}" id="url" class="form-control" value="" th:value="${bean.get('url')}" required />
									</div>
									<div class="controls col-sm-6">
									</div>
								</div>
								<div class="form-group">
									<label for="input01" class="control-label col-sm-2">话题：</label>
									<div class="controls col-sm-4">
										<select id="topic" name="topic" th:field="*{topic}" class="form-control" >
                                            <option value="0">请选择</option>
                     <option th:each="topic:${topics}" th:selected="(${topic.tid == bean.topic})" th:value="${topic.tid}" th:text="${topic.Name}"></option>
										</select>
									</div>
									<div class="controls col-sm-6">
									</div>
								</div>
								
								<div class="form-group">
									<label for="input01" class="control-label col-sm-2">findpre：</label>
									<div class="controls col-sm-4">
										<input type="text" name="findpre" th:field="*{findpre}" id="findpre" class="form-control" th:value="${bean.get('findpre')}" value=""/>
									</div>
									<div class="controls col-sm-6">
									</div>
								</div>
								
								<div class="form-group">
									<label for="input01" class="control-label col-sm-2">语言：</label>
									<div class="controls col-sm-4">
										<select id="langid" name="langid" th:field="*{langid}" class="form-control" >
                                            <option value="0">请选择</option>
                     <option th:each="language:${languages}" th:value="${language.id}" th:selected="(${language.id==bean.langid})" th:text="${language.cnname}"></option>
										</select>
									</div>
									<div class="controls col-sm-6">
									</div>
								</div>
									<div class="form-group">
							      <label for="input01" class="control-label col-sm-2">列表文章状态：</label>
							      	<div class="controls col-sm-4">
								      	<select name="liststatus" th:field="*{liststatus}" class="form-control ">
                                            <!--<option  value="0" th:if="${bean.liststatus eq 0}" th:selected="selected">未发布</option>-->
                                            <!--<option  value="0" th:if="${bean.liststatus eq 1}" th:selected="selected">正常</option>-->
                                            <option  th:value="0" th:selected="(${bean.liststatus} == 0)">正常</option>
                                            <option  th:value="1" th:selected="(${bean.liststatus} == 1)">未发布</option>

                                            <!--<option th:if="${skill.level eq '精通'}" th:selected="selected">精通</option>-->

									      		<!--<option value="0" <c:if test="${bean.liststatus==0 }">selected</c:if>>正常</option>-->
									      		<!--<option value="1" <c:if test="${bean.liststatus==1 }">selected</c:if>>未发布</option>-->
									      </select>
									 </div>
								</div> 
								
						 	<div class="form-group">
							      <label for="input01" class="control-label col-sm-2">规则状态：</label>
							      	<div class="controls col-sm-4">
                                        <select name="status" th:field="*{status}" class="form-control ">
                                            <option th:value="0" th:selected="(${bean.status} == 0)">禁用</option>
                                            <option th:value="1" th:selected="(${bean.status} == 1)">正常</option>
                                            <!--<option th:value="0" <c:if test="${bean.status==1 }">selected</c:if>>禁用</option>-->
                                                <!--<option  th:value="1" <c:if test="${bean.status==0}">selected</c:if>>正常</option>-->
                                        </select>
									 </div>
								</div>
								<div class="form-group">
								      <label for="input01" class="control-label col-sm-2">字符：</label>
									      <div class="controls col-sm-4">
									      	<select name="constant" th:field="*{constant}" class="form-control ">
                                                <option th:value="null">请选择</option>
                                                <option th:value="utf8" th:selected="(${bean.constant eq 'utf8'})" >utf8</option>
                                                <option th:value="auto" th:selected="(${bean.constant eq 'auto'})" >auto</option>
                                                <option th:value="jbk" th:selected="(${bean.constant eq 'jbk'})" >jbk</option>
                                                <option th:value="jb2312" th:selected="(${bean.constant eq 'jb2312'})" >jb2312</option>
										    </select>
										   </div>
								</div>
								<div class="form-group">
									<label for="input01" class="control-label col-sm-2">抓取时间间隔(秒)：</label>
									<div class="controls col-sm-4">
										<input type="text" name="grabtime" th:field="*{grabtime}"  id="grabtime" class="form-control" th:value="${bean.get('grabtime')}" value="" required />
									</div>
									<div class="controls col-sm-6">
									</div>
								</div>
							<div class="form-actions">
								<div class="col-sm-1"></div>
								<div class="col-sm-12 text-center">
									<a th:href="@{/listrule/list}" class="btn btn-info"><span
										class="fa fa-arrow-left fa-fw"></span> 返回</a> &nbsp;&nbsp;
									<!--<a href="#" class="btn btn-info" th:onclick="test()">-->
											<!--<span class="fa fa-arrow-left fa-fw"></span> 测试</a>-->
									 <!--<a href="#" class="btn btn-info" onclick="testSubmmit()">     -->
											<!--<span class="fa fa-arrow-left fa-fw"></span>提交</a>-->
                                    <input type="submit" class="btn btn-info" value="提交">
                                </div>
                            </div>
						</form>
				</div>
			</div>
		</div>
	</div>
</div>
	<script type="text/javascript">
		function test() {
				$("#addUserInfoform").attr("action","/listrule/test");
				$("#addUserInfoform").attr("target","_blank");
				$("#addUserInfoform").submit();
		}
		function testSubmmit() {
			$("#addUserInfoform").attr("action","${ctx }/listrule/saveorupdate");
//			$("#addUserInfoform").attr("action","@{/listrule/saveorupdate}");
			$("#addUserInfoform").attr("target","_self");
			$("#addUserInfoform").submit();
	}
	</script>

</body>

</html>
