<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/plugins/timeline.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/sb-admin-2.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/plugins/morris.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/font-awesome-4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/page/myPage.css" />
    <script type="text/javascript" src="/stylesheets/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/stylesheets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/stylesheets/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="/stylesheets/js/page/jqPaginator.min.js"></script>
    <script type="text/javascript" src="/stylesheets/js/page/myPage.js"></script>
    <script type="text/javascript" src="/stylesheets/js/plugins/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">添加文章</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">请填写以下选项：</div>
            <div class="panel-body">
                <div class="col">
                    <form th:action="@{/article/saveorupdate}" th:method="post" id="addUserInfoform" class="form-horizontal">
                        <input name="id" type="hidden" th:value="${article.id }" />
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="title" class="control-label col-sm-4">文章标题:</label>
                                <div class="controls col-sm-8">
                                    <input type="text" id="title" name="title" class="form-control" th:value="${article.title}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>