<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title></title>
    <link href="/stylesheets/meAdmin/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/stylesheets/meAdmin/plugins/jquery-ui/jquery.ui.1.10.2.ie.css"/>
    <![endif]-->
    <link href="/stylesheets/meAdmin/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/meAdmin/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/meAdmin/assets/css/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/meAdmin/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/meAdmin/assets/css/fontawesome/font-awesome.min.css" rel="stylesheet" >
    <!--[if IE 7]>
    <link href="/stylesheets/meAdmin/assets/css/fontawesome/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 8]>
    <link href="/stylesheets/meAdmin/assets/css/ie8.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--<link href='http://fonts.useso.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>-->
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/libs/lodash.compat.min.js"></script>
    <!--[if lt IE 9]>
    <script src="/stylesheets/meAdmin/assets/js/libs/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/event.swipe/jquery.event.move.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/event.swipe/jquery.event.swipe.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/libs/breakpoints.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/respond/respond.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/cookie/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/blockui/jquery.blockUI.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/typeahead/typeahead.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/autosize/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/inputlimiter/jquery.inputlimiter.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/uniform/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/fileinput/fileinput.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/duallistbox/jquery.duallistbox.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootstrap-inputmask/jquery.inputmask.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootstrap-wysihtml5/wysihtml5.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootstrap-multiselect/bootstrap-multiselect.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/globalize/globalize.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/globalize/cultures/globalize.culture.de-DE.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/globalize/cultures/globalize.culture.ja-JP.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/datatables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootbox/bootbox.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/app.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/plugins.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/plugins.form-components.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/base64.js"></script>
    <script>
        $(document).ready(function() {
            App.init();
            Plugins.init();
            FormComponents.init()
        });
    </script>
</head>
<body>
<input type="hidden" name="" id="msg" th:value="${msg}">
<div class="container">
    <div class="crumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a th:href="@{/orangeIndex/toDefault}" title="首页">
                    首页
                </a>
            </li>
            <li class="">
                <a th:href="@{/grabDetailRule/list}" title="文章规则管理">
                    文章规则管理
                </a>
            </li>
            <li class="current">
                <a href="javascript:void(0);" title="文章规则管理修改">
                    文章规则管理修改
                </a>
            </li>
        </ul>
    </div>
    <div class="row" style="height: 20px;"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="widget box">
                <div class="widget-header">
                    <h4>
                        <i class="icon-search"></i>
                        搜索条件
                    </h4>
                    <div class="toolbar no-padding">
                        <div class="btn-group">
                            <span class="btn btn-xs widget-collapse">
                                <i class="icon-angle-down"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="widget-content"><!--th:object="${Query}"-->
                    <form class="form-horizontal row-border" th:object="${grabDetailRule}" th:action="@{/grabDetailRule/update}" th:method="post" id="dataForm">
                        <input type="hidden" id="objectIdFromUrl" name="objectId">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="ruleName">
                                规则名称：
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="ruleName" name="ruleName" class="form-control" placeholder="输入规则名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="nodeObjectId">
                                节点：
                            </label>
                            <div class="col-md-9">
                                <select class="form-control" name="nodeObjectId" id="nodeObjectId">
                                    <option value="" selected>请选择</option>
                                    <option th:each="node:${globalNodeList}" th:text="${node.get('nodeName')}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="status">
                                规则状态：
                            </label>
                            <div class="col-md-9">
                                <select name="status" id="status" class="select2-select-00 col-md-12 full-width-fix select2-offscreen" tabindex="-1">
                                    <option value="" selected>请选择</option>
                                    <option th:each="grabListRuleListStatus:${grabListRuleListStatusList}" th:value="${grabListRuleListStatus.get('key')}" th:text="${grabListRuleListStatus.get('value')}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="grabListRuleObjectId">
                                对应列表名称：
                            </label>
                            <div class="col-md-9">
                                <select name="grabListRuleObjectId" id="grabListRuleObjectId" class="select2-select-00 col-md-12 full-width-fix select2-offscreen" tabindex="-1">
                                    <option value="" selected>请选择</option>
                                    <option th:each="grabListRule:${grabListRuleList}" th:value="${grabListRule.get('objectId')}" th:text="${grabListRule.get('ruleName')}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="titleCssPath">
                                标题：
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="titleCssPath" name="titleCssPath" class="form-control" placeholder="输入标题">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="keywordCssPath">
                                关键字：
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="keywordCssPath" name="keywordCssPath" class="form-control" placeholder="输入关键字">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="descCssPath">
                                描述：
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="descCssPath" name="descCssPath" class="form-control" placeholder="输入描述">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="conCssPath">
                                cssPath：
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="conCssPath" name="conCssPath" class="form-control" placeholder="输入cssPath">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="conCssPath1">
                                cssPath1：
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="conCssPath1" name="conCssPath1" class="form-control" placeholder="输入cssPath1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="conCssPath2">
                                cssPath2：
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="conCssPath2" name="conCssPath2" class="form-control" placeholder="输入cssPath2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="replaceRule">
                                replaceRule：
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="replaceRule" name="replaceRule" class="form-control" placeholder="输入replaceRule">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="replaceCssPath">
                                replaceCssPath：
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="replaceCssPath" name="replaceCssPath" class="form-control" placeholder="输入replaceCssPath">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="testUrl">
                                测试url：
                            </label>
                            <div class="col-md-9">
                                <div class="col-md-6" style="padding: 0;">
                                    <input type="text" id="testUrl" name="testUrl" class="form-control" placeholder="输入testUrl">
                                </div>
                                <div class="col-md-4">
                                    <input type="button" id="viewUrl" class="btn btn-primary" value="预览">
                                    <input type="button" id="editUrl" class="btn btn-primary" value="删除">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="souCssPath">
                                来源：
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="souCssPath" name="souCssPath" class="form-control" placeholder="输入来源">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="imgCssPath">
                                图片：
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="imgCssPath" name="imgCssPath" class="form-control" placeholder="输入图片">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="videoCssPath">
                                视频：
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="videoCssPath" name="videoCssPath" class="form-control" placeholder="输入视频">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="authorCssPath">
                                作者：
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="authorCssPath" name="authorCssPath" class="form-control" placeholder="输入作者">
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" value="提交" class="btn btn-primary pull-right" id="edit">
                            <input type="button" value="测试" class="btn btn-primary pull-right" id="test">
                            <a href="javascript:void(0);" class="btn button-previous pull-right" style="display: inline-block;" th:href="@{/grabDetailRule/list}">
                                返回
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $.each($('.select2-select-00'),function(index){
            $(this).select2();
            if($(this).val() == ''){
                $(this).select2().select2('val','');
            }
        });
    });
    function UrlSearch() {
        var name,value;
        var str=location.href;
        var num=str.indexOf("?")
        str=str.substr(num+1);
        var arr=str.split("&");
        for(var i=0;i < arr.length;i++){
            num=arr[i].indexOf("=");
            if(num>0){
                name=arr[i].substring(0,num);
                value=arr[i].substr(num+1);
                this[name]=value;
            }
        }
    }
    var Request=new UrlSearch();
    var objectId = Request.objectId;
    $('#objectIdFromUrl').val(objectId);
    $('#edit').click(function(e){
        e.preventDefault();
        var alertBox = bootbox.dialog({
            message: "确认要修改吗?",
            title: "修改",
            buttons: {
                success: {
                    label: "取消",
                    className: "btn-default",
                    callback: function() {
                        alertBox.modal("hide");
                    }
                },
                main: {
                    label: "确认",
                    className: "btn-primary",
                    callback: function() {
                        $('#dataForm').submit();
                    }
                }
            }
        });
    });
    $('#test').click(function (){
        var dataJson ={};
        dataJson.testUrl = $('#testUrl').val();
        dataJson.authorCssPath = $('#authorCssPath').val();
        dataJson.titleCssPath = $('#titleCssPath').val();
        dataJson.descCssPath = $('#descCssPath').val();
        dataJson.keywordCssPath = $('#keywordCssPath').val();
        dataJson.conCssPath = $('#conCssPath').val();
        dataJson.conCssPath2 = $('#conCssPath1').val();
        dataJson.conCssPath3 = $('#conCssPath2').val();
        dataJson.replaceCssPath = $('#replaceCssPath').val();
        var dataJsonStr = encodeURIComponent(JSON.stringify(dataJson));
        var base = new Base64();
        dataJsonStr = base.encode(dataJsonStr);
        window.open("../grabListRule/toTestResult?flag=detailRule&dataJson="+dataJsonStr,"_blank");
    });
</script>
</body>
</html>