<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title></title>
    <link href="/stylesheets/meAdmin/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/stylesheets/meAdmin/plugins/jquery-ui/jquery.ui.1.10.2.ie.css"/>
    <![endif]-->
    <link href="/stylesheets/meAdmin/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/meAdmin/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/meAdmin/assets/css/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/meAdmin/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/meAdmin/assets/css/fontawesome/font-awesome.min.css" rel="stylesheet" >
    <!--[if IE 7]>
    <link href="/stylesheets/meAdmin/assets/css/fontawesome/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 8]>
    <link href="/stylesheets/meAdmin/assets/css/ie8.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--<link href='http://fonts.useso.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>-->
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/libs/lodash.compat.min.js"></script>
    <!--[if lt IE 9]>
    <script src="/stylesheets/meAdmin/assets/js/libs/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/event.swipe/jquery.event.move.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/event.swipe/jquery.event.swipe.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/libs/breakpoints.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/respond/respond.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/cookie/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/blockui/jquery.blockUI.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/typeahead/typeahead.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/autosize/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/inputlimiter/jquery.inputlimiter.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/uniform/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/fileinput/fileinput.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/duallistbox/jquery.duallistbox.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootstrap-inputmask/jquery.inputmask.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootstrap-wysihtml5/wysihtml5.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootstrap-multiselect/bootstrap-multiselect.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/globalize/globalize.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/globalize/cultures/globalize.culture.de-DE.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/globalize/cultures/globalize.culture.ja-JP.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/datatables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootbox/bootbox.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/app.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/plugins.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/plugins.form-components.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/base64.js"></script>
    <script>
        $(document).ready(function() {
            App.init();
            Plugins.init();
            FormComponents.init()
        });
    </script>
</head>
<body>
<input type="hidden" name="" id="msg" th:value="${msg}">
<div class="container">
    <div class="crumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a th:href="@{/orangeIndex/toDefault}" title="首页">
                    首页
                </a>
            </li>
            <li class="">
                <a th:href="@{/keywords/toCountryKeywordsList(countryObjectId=${countryObjectId})}" id="" title="热搜词、敏感词管理">
                    热搜词、敏感词管理
                </a>
            </li>
            <li class="current">
                <a href="javascript:void(0);" title="添加热搜词、敏感词管理" id="breadcrumbText">
                    添加热搜词、敏感词管理
                </a>
            </li>
        </ul>
    </div>
    <div class="row" style="height: 20px;"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="widget box">
                <div class="widget-header">
                    <h4>
                        <i class="icon-search"></i>
                        <span id="titleText">添加热词和敏感词</span>
                    </h4>
                    <div class="toolbar no-padding">
                        <div class="btn-group">
                            <span class="btn btn-xs widget-collapse">
                                <i class="icon-angle-down"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="widget-content">
                    <form class="form-horizontal row-border" th:action="@{/keywords/editCountryKeywords}" th:method="post" id="dataForm">
                        <input type="hidden" id="objectId" name="objectId" th:value="${objectId}">
                        <input type="hidden" id="countryObjectId" name="countryObjectId" th:value="${countryObjectId}">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="keyword">
                                名称：
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="keyword" name="keyword" class="form-control" placeholder="输入名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="">
                                类型：
                            </label>
                            <div class="col-md-9">
                                <label class="radio-inline">
                                    <input type="radio" class="uniform" name="keywordType" value="热搜词">
                                    热搜词
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" class="uniform" name="keywordType" value="敏感词">
                                    敏感词
                                </label>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" value="提交" class="btn btn-primary pull-right" id="edit">
                            <a href="javascript:void(0);" class="btn button-previous pull-right" style="display: inline-block;" id="back">
                                返回
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $.each($('.select2-select-00'),function(index){
            $(this).select2();
            if($(this).val() == ''){
                $(this).select2().select2('val','');
            }
        });
    });
    function UrlSearch() {
        var name,value;
        var str=location.href;
        var num=str.indexOf("?")
        str=str.substr(num+1);
        var arr=str.split("&");
        for(var i=0;i < arr.length;i++){
            num=arr[i].indexOf("=");
            if(num>0){
                name=arr[i].substring(0,num);
                value=arr[i].substr(num+1);
                this[name]=value;
            }
        }
    }
    var Request=new UrlSearch();
    var countryObjectId = Request.countryObjectId;
    var objectId = Request.objectId;
    if(objectId == '' || objectId == null || objectId == undefined){
        var flag = 'add';
    }else{
        var flag = 'edit';
        $('#titleText').html('修改热搜词、敏感词管理');
        $('#breadcrumbText').html('修改热搜词、敏感词管理').attr('title','修改热搜词、敏感词管理');
        $('#objectId').val(objectId);
    }
    $('#back').click(function(){
        window.location.href = "../keywords/toCountryKeywordsList?countryObjectId="+countryObjectId;
    });
    $('#edit').click(function(e){
        e.preventDefault();
        if(flag == 'add'){
            var msg = '确认要添加吗';
            var title = '添加';
        }else if(flag == 'edit'){
            var msg = '确认要修改吗';
            var title = '修改';
        }
        var alertBox = bootbox.dialog({
            message: msg,
            title: title,
            buttons: {
                success: {
                    label: "取消",
                    className: "btn-default",
                    callback: function() {
                        alertBox.modal("hide");
                    }
                },
                main: {
                    label: "确认",
                    className: "btn-primary",
                    callback: function() {
                        $('#dataForm').submit();
                    }
                }
            }
        });
    });
</script>
</body>
</html>