<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title></title>
    <link href="/stylesheets/meAdmin/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/stylesheets/meAdmin/plugins/jquery-ui/jquery.ui.1.10.2.ie.css"/>
    <![endif]-->
    <link href="/stylesheets/meAdmin/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/meAdmin/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/meAdmin/assets/css/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/meAdmin/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/meAdmin/assets/css/fontawesome/font-awesome.min.css" rel="stylesheet" >
    <!--[if IE 7]>
    <link href="/stylesheets/meAdmin/assets/css/fontawesome/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 8]>
    <link href="/stylesheets/meAdmin/assets/css/ie8.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--<link href='http://fonts.useso.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>-->
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/libs/lodash.compat.min.js"></script>
    <!--[if lt IE 9]>
    <script src="/stylesheets/meAdmin/assets/js/libs/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/event.swipe/jquery.event.move.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/event.swipe/jquery.event.swipe.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/libs/breakpoints.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/respond/respond.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/cookie/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/blockui/jquery.blockUI.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/typeahead/typeahead.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/autosize/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/inputlimiter/jquery.inputlimiter.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/uniform/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/fileinput/fileinput.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/duallistbox/jquery.duallistbox.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootstrap-inputmask/jquery.inputmask.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootstrap-wysihtml5/wysihtml5.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootstrap-multiselect/bootstrap-multiselect.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/globalize/globalize.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/globalize/cultures/globalize.culture.de-DE.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/globalize/cultures/globalize.culture.ja-JP.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/datatables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/plugins/bootbox/bootbox.min.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/app.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/plugins.js"></script>
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/plugins.form-components.js"></script>
    <script>
        $(document).ready(function() {
            App.init();
            Plugins.init();
            FormComponents.init()
        });
    </script>
</head>
<body>
<input type="hidden" name="" id="msg" th:value="${msg}">
<div class="container">
    <div class="crumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a th:href="@{/orangeIndex/toDefault}" title="首页">
                    首页
                </a>
            </li>
            <li class="">
                <a th:href="@{/grabListRule/list}" title="列表规则管理">
                    列表规则管理
                </a>
            </li>
            <li class="current">
                <a href="javascript:void(0);" title="列表规则添加">
                    列表规则添加
                </a>
            </li>
        </ul>
    </div>
    <div class="row" style="height: 20px;"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="widget box">
                <div class="widget-header">
                    <h4>
                        <i class="icon-search"></i>
                        搜索条件
                    </h4>
                    <div class="toolbar no-padding">
                        <div class="btn-group">
                            <span class="btn btn-xs widget-collapse">
                                <i class="icon-angle-down"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="widget-content"><!--th:object="${Query}"-->
                    <form class="form-horizontal row-border" th:object="${grabListRule}" th:action="@{/grabListRule/add}" th:method="post" id="dataForm">
                        <input type="hidden" id="objectIdFromUrl" name="objectId">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 control-label" for="ruleName">
                                    规则名称：
                                </label>
                                <div class="col-md-8">
                                    <input type="text" id="ruleName" name="ruleName" class="form-control" placeholder="输入规则名称">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 control-label" for="nodeObjectId">
                                    节点：
                                </label>
                                <div class="col-md-8">
                                    <select class="form-control" name="nodeObjectId" id="nodeObjectId">
                                        <option value="" selected>请选择</option>
                                        <option th:each="node:${globalNodeList}" th:value="${node.get('objectId')}" th:text="${node.get('nodeName')}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-4 control-label" for="countryObjectId">
                                    国家：
                                </label>
                                <div class="col-md-8">
                                    <select name="countryObjectId" id="countryObjectId" class="select2-select-00 col-md-12 full-width-fix select2-offscreen" tabindex="-1">
                                        <option value="" selected="selected">请选择</option>
                                        <option th:each="country:${countryList}" th:value="${country.get('objectId')}" th:text="${country.get('countryCode')}+'&nbsp;'+${country.get('cnName')}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <label class="col-md-2 control-label" for="publicationObjectId">
                                    媒体：
                                </label>
                                <div class="col-md-8">
                                    <select name="publicationObjectId" id="publicationObjectId" class="select2-select-00 col-md-12 full-width-fix select2-offscreen" tabindex="-1">
                                        <option value=""  selected="selected">请选择</option>
                                        <option th:each="publication:${publicationList}" th:value="${publication.get('objectId')}" th:text="${publication.get('publicationName')}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-4 control-label" for="channelObjectId">
                                    渠道：
                                </label>
                                <div class="col-md-8">
                                    <select class="form-control" name="channelObjectId" id="channelObjectId">
                                        <option value="" selected>请选择</option>
                                        <option th:each="channel:${channelList}" th:value="${channel.get('objectId')}" th:text="${channel.get('channelName')}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 control-label" for="csspath">
                                    csspath：
                                </label>
                                <div class="col-md-8">
                                    <input type="text" id="csspath" name="csspath" min="0" class="form-control" placeholder="输入cssPath">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-4 control-label" for="siteUrl">
                                    url：
                                </label>
                                <div class="col-md-8">
                                    <input type="text" id="siteUrl" name="siteUrl" min="0" class="form-control" placeholder="输入siteUrl">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-4 control-label" for="findPre">
                                    findpre：
                                </label>
                                <div class="col-md-8">
                                    <input type="text" id="findPre" name="findPre" min="0" class="form-control" placeholder="输入findpre">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 control-label" for="topicObjectId">
                                    话题：
                                </label>
                                <div class="col-md-8">
                                    <select class="form-control" name="topicObjectId" id="topicObjectId">
                                        <option value="" selected>请选择</option>
                                        <option th:each="topic:${appTopicsList}" th:value="${topic.get('objectId')}" th:text="${topic.get('topicName')}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-4 control-label" for="languageObjectId">
                                    语言：
                                </label>
                                <div class="col-md-8">
                                    <select name="languageObjectId" id="languageObjectId" class="select2-select-00 col-md-12 full-width-fix select2-offscreen" tabindex="-1">
                                        <option value=""  selected="selected">请选择</option>
                                        <option th:each="language:${languageList}" th:value="${language.get('objectId')}" th:text="${language.get('languageName')}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 control-label" for="listStatus">
                                    列表文章状态：
                                </label>
                                <div class="col-md-8">
                                    <select class="form-control" name="listStatus" id="listStatus">
                                        <option value="">请选择</option>
                                        <option th:each="grabListRuleList:${grabListRuleListStatusList}" th:value="${grabListRuleList.get('key')}" th:text="${grabListRuleList.get('value')}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-4 control-label" for="status">
                                    规则状态：
                                </label>
                                <div class="col-md-8">
                                    <select class="form-control" name="status" id="status">
                                        <option value="">请选择</option>
                                        <option th:each="grabRuleList:${grabListRuleStatusList}" th:value="${grabRuleList.get('key')}" th:text="${grabRuleList.get('value')}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-4 control-label" for="constant">
                                    字符：
                                </label>
                                <div class="col-md-8">
                                    <select class="form-control" name="constant" id="constant">
                                        <option value="" selected>请选择</option>
                                        <option th:each="constant:${constantList}" th:selected="(${grabListRule.constant == constant.get('key')})" th:value="${constant.get('key')}" th:text="${constant.get('value')}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 control-label" for="grabTime">
                                    抓取时间间隔(秒)：
                                </label>
                                <div class="col-md-8">
                                    <input type="text" id="grabTime" name="grabTime" min="0" class="form-control" placeholder="输入抓取时间间隔">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" value="提交" class="btn btn-primary pull-right" id="add">
                            <input type="button" value="测试" class="btn btn-primary pull-right" id="test">
                            <a href="javascript:void(0);" class="btn button-previous pull-right" style="display: inline-block;" th:href="@{/grabListRule/list}">
                                <i class="icon-angle-left"></i>
                                返回
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $.each($('.select2-select-00'),function(index){
            $(this).select2().select2('val','');
        });
    });
    $('#add').click(function(e){
        e.preventDefault();
        var alertBox = bootbox.dialog({
            message: "确认要添加吗?",
            title: "添加",
            buttons: {
                success: {
                    label: "取消",
                    className: "btn-default",
                    callback: function() {
                        alertBox.modal("hide");
                    }
                },
                main: {
                    label: "确认",
                    className: "btn-primary",
                    callback: function() {
                        $('#dataForm').submit();
                    }
                }
            }
        });
    });
    $('#test').click(function (){
        var dataJson ={};
        dataJson.objectId = $('#objectIdFromUrl').val();
        dataJson.ruleName = $('#ruleName').val();
        dataJson.publicationObjectId = $('#publicationObjectId').val();
        dataJson.nodeObjectId = $('#nodeObjectId').val();
        dataJson.channelObjectId = $('#channelObjectId').val();
        dataJson.topicObjectId = $('#topicObjectId').val();
        dataJson.languageObjectId = $('#languageObjectId').val();
        dataJson.countryObjectId = $('#countryObjectId').val();
        dataJson.cssPath = $('#cssPath').val();
        dataJson.siteUrl = $('#siteUrl').val();
        $.ajax({
            url: "http://54.219.221.173:80/checkGrabDetailRule",
            type: "get",
            data: {
                "grabDetailRuleJSON": dataJson
            },
            success: function (data) {
                if(data.code == 1){
                    bootbox.alert(data.msg);
                }else{
                    bootbox.alert(data.msg);
                }
            },
            error: function (error) {
                bootbox.alert(data.msg);
            }
        });
    });
</script>
</body>
</html>