<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/stylesheets/meAdmin/assets/js/libs/jquery-1.10.2.min.js"></script>
    <script>
        function submit_this() {
            $('#myform').submit();
        }

    </script>
</head>
<body>
<form action="../grabListRule/list" method="get" id="myform">
    ruleName:<input name="ruleName"/>
    <br/>
    publicationObjectId:<input name="publicationObjectId"/>
    <br/>
    nodeObjectId:<input name="nodeObjectId"/>
    <br/>
    cssPath:<input name="cssPath"/>
    <br/>
</form>
<br>
<br>
<br>
<input type="button" value="提交" onclick="submit_this()"/>

</body>
</html>